<div class="center-container">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
  <!--     <img
        src="assets/images/blocks/logos/hyper.svg"
        alt="Image"
        height="50"
        class="mb-3"
      /> -->
      <div class="text-900 text-3xl font-medium mb-3">Olá, bem vindo ao Admin do Evox</div>
      </div>

    <div>
      <label for="email1" class="block text-900 font-medium mb-2">Email</label>
      <input id="email1" type="text" pInputText class="w-full mb-3" />

      <label for="password1" class="block text-900 font-medium mb-2"
        >Password</label
      >
      <input id="password1" type="password" pInputText class="w-full mb-3" />
      <button
        pButton
        pRipple
        label="Entrar"
        class="w-full"
        [routerLink]="['/home']"
      ></button>
    </div>
  </div>

</div>
