/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~sweetalert2/dist/sweetalert2.css";
@import "~primeng/resources/themes/tailwind-light/theme.css";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import './scss/primeflex';
@import "primeflex/primeflex.css";
@import 'fontsource-exo/latin.css';
html {
  background-image: url(assets\background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Exo', sans-serif;
}
.onSucessToast {
  color: #5a5a5a !important;
}
.onErrorToast {
  color: #fff !important;
}

/* "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss",
"node_modules/@fortawesome/fontawesome-free/scss/solid.scss",
"node_modules/@fortawesome/fontawesome-free/scss/regular.scss",
"node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
 */
