.input-container {
  width: 50%;
  input {
    width: 100%;
  }
}
.crud-btn {
  margin: 0 10px;
}

::ng-deep .criarUsuarioHeader {
  &.p-dialog {
    width: 50%;
    .p-dialog-header {
      background-color: #69a038;
      padding: 0 24px;
      color: white;
    }
  }
}
::ng-deep .editarUsuarioHeader {
  &.p-dialog {
    width: 50%;
    .p-dialog-header {
      background-color: #ffc800;
      padding: 0 24px;
      color: white;
    }
  }
}
