<div [@zoomInUpOnEnter] style="margin-top: 0.5em; margin-bottom: 10em">
  <p-panel>
    <ng-template pTemplate="header">
      <span class="p-float-label input-container">
        <input
          id="float-input"
          class="p-inputtext"
          type="text"
          pInputText
          [(ngModel)]="filtro"
        />
        <label for="float-input">Filtro</label>
      </span>
    </ng-template>
    <ng-template pTemplate="icons">
      <button
        pButton
        pRipple
        type="button"
        icon="fas fa-plus"
        (click)="addNewItem()"
        class="crud-btn p-button-lg p-button-raised p-button-success"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      icon="fa-solid fa-qrcode"
      (click)="createQrCodePage()"
      [disabled]="selectedRows.length !== 1 || selectedRows[0] == null"
      class="crud-btn p-button-lg p-button-raised p-button-info"
    ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="fas fa-edit"
        (click)="editItem()"
        [disabled]="selectedRows.length !== 1 || selectedRows[0] == null"
        class="crud-btn p-button-lg p-button-raised p-button-warning"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="fas fa-times"
        (click)="tes()"
        class="crud-btn p-button-lg p-button-raised p-button-danger"
      ></button>
    </ng-template>
    <app-grid
      [gridData]="usuarioArr"
      [columnDefs]="createColumnDefs"
      [colunasFiltraveis]="colunasFiltraveis"
      [filtro]="filtro"
      (GridSelectedRow)="onGridSelectedRow($event)"
      (GridDobleClick)="onGridDobleClick($event)"
    ></app-grid>
  </p-panel>
</div>

<p-dialog
  position="left"
  [styleClass]="selectedRows[0] === null ? 'criarUsuarioHeader':'editarUsuarioHeader'"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="displayCriarUsuario"
>
  <ng-template pTemplate="header">
    <h4>{{selectedRows[0] === null ? 'Criar Usuario': 'Editar Usuario'}}</h4>
  </ng-template>

  <app-criar-usuario [masterContaObj]="selectedRows[0]" (fecharDialog)="closeDialog()"></app-criar-usuario>

  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
