<div [@fadeInExpandOnEnter] *ngIf="showheader">
  <app-header></app-header>
</div>
<router-outlet></router-outlet>
<app-toast></app-toast>
<!-- <footer>
  TesteXX
   <p-dock [model]="dockItems" position="bottom">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.icon" [alt]="item.label" width="100%" />
    </ng-template>
  </p-dock>
</footer> -->
<!-- <div class="background">
   <img src="assets\background.jpg" alt="">
  <div>

  </div>
</div> -->
