<!-- <p-toolbar styleClass="adminHeader">
  <div class="p-toolbar-group-left">

  </div>

  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-search" class="p-mr-2"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar> -->
<p-menubar styleClass="adminHeader" [model]="dockItems">
   <ng-template pTemplate="start">
    <h1>Admin</h1>
  </ng-template>
  <!-- <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search">
  </ng-template> -->
</p-menubar>
