<div class="page-container">
  <p-toolbar styleClass="dark-panel">
    <div
      class="header"
      (click)="isUploadPhotoProcessOngoing = !isUploadPhotoProcessOngoing"
    >
      <h3>EvoxCall</h3>
    </div>
  </p-toolbar>

  <div class="photo-container p-fluid grid">
    <div class="photo col-12">
      <img [src]="imgToShow" alt="" srcset="">
    </div>
    <div class="photo-text col-12">Deseja enviar esta foto para análise?</div>
    <div class="photo-send-btn col-12">
      <button
        pButton
        pRipple
        type="submit"
        label="Enviar Foto"
        class="p-button-raised p-button-lg p-button-warning"
      ></button>
    </div>
    <div class="photo-retry-btn col-12">
      <button
        pButton
        pRipple
        type="button"
        label="Tirar outra foto?"
        class="p-button-secondary p-button-text"
      ></button>
    </div>
  </div>
  <!--  -->
  <p-toolbar styleClass="dark-panel">
    <div class="footer">
      <h3>Versão 0.2.2</h3>
    </div>
  </p-toolbar>
</div>
