:host ::ng-deep .dark-panel.p-toolbar {
  background: #ffc61a;
  border: none;
}
.photo-container {
  height: 60vh;
  padding: 0 28px;
  text-align: center;
  margin-top: -5vh;
  justify-content: center;
  .photo {

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .photo-text {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
  }
  .photo-retry-btn{
    button{
      color: #fff;
      font-size: 25px;
    }
  }
}
