.page-container {
  height: 100vh;
  background-image: url("/assets/backgroundMapImage.png");
  background-size: 100vw 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  .logo {
    width: 80px;
    height: 40px;
    img {
      width: 100%;
    }
  }
  .title{
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFC61A;
  }
  .geo-icon{
    width: 210px;
    img {
      width: 100%;
    }
  }
  .page-container-body{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 205px;
    min-height: 80px;
    .page-container-body-title{
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
    }
    .page-container-body-text{
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
    }


  }
  .btn-container{
    display: flex;
    flex-direction: column;
    width: 75vw;
    .p-button-warning{
      color: #1F1D2B;
    }
  }
}
