<div class="page-container">
  <div class="logo">
    <img src="assets/logoBIG.png" alt="" srcset="" />
  </div>
  <div class="title">SEJA BEM VINDO</div>
  <div class="geo-icon">
    <img src="assets/icons/mapLocation.png" alt="" srcset="" />
  </div>
  <div class="page-container-body">
    <div class="page-container-body-title">Permitir Localização</div>
    <div class="page-container-body-text">
      Precisaremos da sua localização para proporcionar mais segurança e uma
      melhor experiência
    </div>
  </div>
  <div class="btn-container">
    <button
      pButton
      pRipple
      type="button"
      (click)="askGeoPermision()"
      [loading]="gettingGPSLocation"
      label="Permitir"
      class="p-button-raised p-button-warning"
    ></button>
 <!--    <button
      pButton
      pRipple
      type="button"
      label="Não permitir"
      class="p-button-secondary p-button-text"
    ></button> -->



  </div>
</div>
