<div class="callPage-container">
  <img src="assets/logoBIG.png" alt="" srcset="" />
  <!--   <div class="icon-container pulse">
    <i class="fas fa-phone"></i>
  </div> -->
  <div class="call-title">
    <h1 *ngIf="!hassCallStarted">Chamando o Proprietario</h1>
    <h1 *ngIf="hassCallStarted">Em chamada{{pulseState? 'as': 2505}}</h1>
  </div>
  <div class="btn-radial-outer pulse"
  (click)="startAgoraToken()">
    <div class="btn-radial-middle">
      <div class="btn-radial-inner">
        <div class="btn-radial-inner-text">
          <i class="fas fa-phone"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="logo"></div>
  <div class="btn-container">
    <button
    pButton
    (click)="muteCall()"
    pRipple
    [icon]="isCallMuted ? 'fas fa-microphone-alt': 'fas fa-microphone-alt-slash'"
    type="button"
    class="p-button-raised p-button-lg p-button-rounded p-button-secondary"
  ></button>

    <button
      pButton
      pRipple
      icon="fas fa-times"
      type="button"
      label="Encerrar"
      (click)="hangUpCall()"
      class="p-button-raised p-button-lg p-button-rounded p-button-danger"
    ></button>
  </div>
</div>
