@mixin nebularWarning {
  background-image: linear-gradient(to right, #fc0, #ffa100);
  box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: calc((1rem * 1.25) + 4px);
  &:active {
    background-image: linear-gradient(to right, #dbaf00, #db8a00);
    box-shadow: none;
    border-color: transparent;
  }
  &:focus {
    background-image: linear-gradient(to right, #ffd324, #ffae24);
  }
  &:hover {
    background-image: linear-gradient(to right, #ffd324, #ffae24);
  }
}
@mixin nebularDanger {
  background-image: linear-gradient(to right, #ff38ac, #ff386a);
  box-shadow: 0 3px 0 0 #db3078, 0 2px 8px 0 #ff388b,
    0 4px 10px 0 rgba(33, 7, 77, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: calc((1rem * 1.25) + 4px);
  &:active {
    background-image: linear-gradient(to right, #db3094, #db305b);
    box-shadow: none;
    border-color: transparent;
  }
  &:focus {
    background-image: linear-gradient(to right, #ff54b8, #ff547f);
  }
  &:hover {
    background-image: linear-gradient(to right, #ff54b8, #ff547f);
  }
}
@mixin centerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.callPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-image: url("/assets/backgroundMapImage.png");
  background-size: 100vw 100vh;
  img {
    width: 40vw;
  }
  /*   .icon-container {
    margin-top: 20px;
    font-size: 20em;
    color: #daa520;
    &.pulse {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      animation: pulse 2s infinite;
      padding: 15px;
    }
    i {
      transform: rotate(10deg);
    }
  } */

  .btn-radial-outer {
    background-color: #353440;
    min-width: 250px;
    min-height: 250px;
    @include centerItem;
    //animation: pulse 2s infinite reverse;
    border-radius: 50%;
    &.pulse{
      animation: pulse 2s infinite reverse;
      .btn-radial-middle{
        animation: pulse 2s infinite reverse;
        .btn-radial-inner{
          animation: pulse 2s infinite reverse;
        }
      }
    }
    .btn-radial-middle {
      background-color: #494853;
      min-width: 191px;
      min-height: 191px;
      @include centerItem;
    //  animation: pulse 2s infinite reverse;
      border-radius: 50%;
      .btn-radial-inner {
        background-color: #5b5a64;
        min-width: 115px;
        min-height: 115px;
        @include centerItem;
        border-radius: 50%;

        .btn-radial-inner-text {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 20px;
          color: #ffc61a;
        }
      }
    }
  }

  .call-title {
    text-align: center;
    font-size: 3.5vw;
    color: #ffc61a;
  }
  .btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .btn {
      font-size: 40px;
      border-radius: 10px;
      height: 2em;
      width: 2em;
      color: #fff;
      &.muted {
        @include nebularDanger;
      }
      &.notMuted {
        @include nebularWarning;
      }
      &.hangUp {
        @include nebularDanger;
        width: 3em;
        i {
          transform: rotate(135deg);
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    //box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}




