<form (ngSubmit)="salvar(criarUsuario)" #criarUsuario="ngForm">
  <div
    class="loading-container"
    [@zoomInOnEnter]
    *ngIf="AuthSrv.criandoUsuario"
  >
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="p-grid p-fluid p-formgrid">
    <div class="p-col-12">
      <span class="p-float-label">
        <input
          type="text"
          id="email"
          name="email-usuario"
          #ModalValueEmail="ngModel"
          pInputText
          [class.ng-invalid]="criarUsuario.submitted && ModalValueEmail.invalid"
          [class.ng-dirty]="criarUsuario.submitted && ModalValueEmail.invalid"
          email
          [(ngModel)]="masterContaObj.email"
          required
        />
        <label for="email">Email</label>
      </span>
    </div>

    <!--     <p-panel
          header="Endereços(Não obrigatório)"
          [toggleable]="true"
          [collapsed]="accordionisOpen"
          style="width: 100%"
        >
          <div class="p-grid">
            <div class="p-col-12">
              <span class="p-float-label">
                <p-inputMask
                  inputId="cep"
                  mask="99999-999"
                  [(ngModel)]="usuarioObj.endereco.cep"
                  name="endereco-cep"
                  (ngModelChange)="onCep()"
                  #ModalValueEnderecoCep="ngModel"
                ></p-inputMask>
                <label for="cep">Cep</label>
              </span>
            </div>
            <div class="p-col-9">
              <span class="p-float-label">
                <input
                  type="text"
                  id="rua"
                  name="endereco-rua"
                  #ModalValueEnderecoLogradouro="ngModel"
                  pInputText
                  [(ngModel)]="usuarioObj.endereco.logradouro"
                />
                <label for="rua">Nome da Rua</label>
              </span>
            </div>
            <div class="p-col-3">
              <span class="p-float-label">
                <p-inputNumber
                  inputId="numero"
                  name="endereco-numero"
                  #ModalValueEnderecoNumero="ngModel"
                  [(ngModel)]="usuarioObj.endereco.numero"
                >
                </p-inputNumber>
                <label for="numero">Numero</label>
              </span>
            </div>

            <div class="p-col-12">
              <span class="p-float-label">
                <input
                  type="text"
                  id="complemento"
                  name="endereco-complemento"
                  #ModalValueEnderecoComplemento="ngModel"
                  pInputText
                  [(ngModel)]="usuarioObj.endereco.complemento"
                />
                <label for="complemento">Complemento</label>
              </span>
            </div>
            <div class="p-col-4">
              <span class="p-float-label">
                <input
                  type="text"
                  id="bairro"
                  name="endereco-bairro"
                  #ModalValueEnderecoBairro="ngModel"
                  pInputText
                  [(ngModel)]="usuarioObj.endereco.bairro"
                />
                <label for="bairro">Bairro</label>
              </span>
            </div>
            <div class="p-col-4">
              <span class="p-float-label">
                <input
                  type="text"
                  id="localidade"
                  name="endereco-localidade"
                  #ModalValueEnderecoLocalidade="ngModel"
                  pInputText
                  [(ngModel)]="usuarioObj.endereco.localidade"
                />
                <label for="localidade">Municipio</label>
              </span>
            </div>
            <div class="p-col-4">
              <span class="p-float-label">
                <input
                  type="text"
                  id="uf"
                  name="endereco-uf"
                  #ModalValueEnderecoUF="ngModel"
                  pInputText
                  [(ngModel)]="usuarioObj.endereco.uf"
                />
                <label for="uf">UF</label>
              </span>
            </div>
          </div>
        </p-panel> -->
    <div class="p-col-12" *ngIf="!isEditing">
      <span>
        A senha padrão dos usuarios criados é
        <b> 123456 </b>
      </span>
    </div>
<div class="p-col-12">
  <p-accordion>
    <p-accordionTab
      [header]="perfil.nome"
      [selected]="true"
      *ngFor="let perfil of masterContaPerfilArr"
    >
      <div class="p-col-12">
        <span class="p-float-label">
          <input
            type="text"
            id="nome"
            name="nome-usuario"
            #ModalValueNome="ngModel"
            pInputText
            [class.ng-invalid]="
              criarUsuario.submitted && ModalValueNome.invalid
            "
            [class.ng-dirty]="
              criarUsuario.submitted && ModalValueNome.invalid
            "
            [(ngModel)]="perfil.nome"
            required
          />
          <label for="email">Nome</label>
        </span>
      </div>
      <div class="p-col-12">
        <span class="p-float-label">
          <p-inputMask
            inputId="celular"
            mask="(99) 99999-9999"
            [(ngModel)]="perfil.celular"
            id="celular"
            name="celular-usuario"
            #ModalValueCelular="ngModel"
            [class.ng-invalid]="
              criarUsuario.submitted && ModalValueCelular.invalid
            "
            [class.ng-dirty]="
              criarUsuario.submitted && ModalValueCelular.invalid
            "
          ></p-inputMask>
          <label for="celular">Celular</label>
        </span>
      </div>
      <div class="p-col-12">
        <span class="p-float-label">
          <input
            type="text"
            id="userId"
            name="userId-usuario"
            pInputText
           [disabled]="true"
            [(ngModel)]="perfil.userId"
            required
          />
          <label for="email">UserId</label>
        </span>
      </div>
      <div class="p-col-12">
        <span class="isAdmin-container">
          <label >É o admin?</label>
          <p-inputSwitch [(ngModel)]="perfil.isAdmin"></p-inputSwitch>
        </span>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>


    <div class="p-col-12">
      <button
        (click)="adicionarPerfil()"
        pButton
        pRipple
        [disabled]="masterContaPerfilArr.length >= 4"
        type="button"
        label="Adicionar perfis"
        class="p-button-raised p-button-info"
      ></button>
    </div>
    <div class="p-col-6">
      <button
        (click)="cancel()"
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-raised p-button-danger"
      ></button>
    </div>
    <div class="p-col-6">
      <button
        pButton
        pRipple
        type="submit"
        label="Salvar"
        class="p-button-raised p-button-success"
      ></button>
    </div>
  </div>
</form>
