form{
  margin-top: 1em;
}
.p-grid{
  margin: 5px 0;
  .p-col-12{
    padding-bottom: 1em
  }
  .p-float-label{
    width: 100%;
    input{
      width: 100%;
    }
  }
}
.loading-container{
  position: absolute;
    width: 95%;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: black;
    opacity: 0.8;
}
.isAdmin-container {
  display: flex;
  align-items: center;
  label{
    padding-right: 10px;
  }
}
