<div class="p-grid">
  <div class="p-col-6">
    <p-panel header="Analytics" [toggleable]="true">
      <h1>
        Em breve
      </h1>
    </p-panel>
  </div>
  <div class="p-col-6">
    <p-panel header="Agora.Io Statistics" [toggleable]="true">
      <h1>
        Em breve
      </h1>
    </p-panel>
  </div>
  <div class="p-col-6">
    <p-panel header="Locais com maior QTD de Usuario " [toggleable]="true">
      <h1>
        Em breve
      </h1>
    </p-panel>
  </div>
  <div class="p-col-6">
    <p-panel header="Numero de Usuarios"  [toggleable]="true">
     <h1>
      {{totalUserNum}} usuarios cadastrados
     </h1>
  </p-panel>
  </div>
</div>
