<div class="page-container">
<!--   <p-toolbar styleClass="dark-panel">
    <div
      class="header"
      (click)="isUploadPhotoProcessOngoing = !isUploadPhotoProcessOngoing"
    >
      <h3>EvoxCall</h3>
    </div>
  </p-toolbar> -->

  <div class="image-container">
    <img src="assets/logoBIG.png" alt="" srcset="" />
  </div>

  <p-blockUI [target]="pnl" [blocked]="isUploadPhotoProcessOngoing">
    <div class="block-container">
      <i class="fa-solid fa-cloud-upload fa-beat-fade"></i>
      <p-progressBar
        [value]="progressBarValue"
        [style]="progressBarStyle"
      ></p-progressBar>
    </div>
  </p-blockUI>

  <p-card #pnl>
    <form (ngSubmit)="onPhotoCall()" id="formInfo" #form="ngForm">
      <div class="p-fluid grid">
        <div class="col-12 form-title">
          <h2>Insira seu nome abaixo</h2>
        </div>
        <div class="field col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <span class="p-float-label">
              <input
                type="text"
                id="visitanteName"
                pInputText
                [(ngModel)]="dataSrv.userCallingObj.nome"
                name="visitanteName"
                minlength="3"
                placeholder="Digite seu nome"
                required
              />
              <label for="visitanteName">Nome</label>
            </span>
          </div>
        </div>

        <div class="col-12 selfie-warning-holder">
          <div
            class="selfie-warning-container"
            *ngIf="dataSrv.userCallingObj.nome.length >= 3"
            [@bounceInRightOnEnter]
            [@bounceOutLeftOnLeave]
          >
            <div class="selfie-warning-title">
              <h2>Selfie</h2>
            </div>
            <div class="selfie-warning-subTitle">
              Agora precisamos de uma selfie sua,para verificar sua identidade.
            </div>
            <div class="selfie-warning-icon">
              <img src="assets/icons/selfie.png" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-12">


          <button
            pButton
            pRipple
            type="submit"
            [disabled]="!isFormValid(form)"
            icon="fas fa-camera"
            label="Tirar Foto"
            class="p-button-raised p-button-lg"
            [class.p-button-secondary]="!isFormValid(form)"
            [class.p-button-warning]="isFormValid(form)"
          ></button>
          <!-- [disabled]="!isFormValid(form)" -->
        </div>
      </div>
    </form>
  </p-card>
  <p-toolbar styleClass="dark-panel">
    <div class="footer">
      <h3>Versão 2.3.1</h3>
    </div>
 </p-toolbar>
</div>
