:host ::ng-deep .dark-panel.p-toolbar {
  background: #ffc61a;
  border: none;
}
:host ::ng-deep .p-card {
  background-color: transparent;
  box-shadow: unset;
.p-card-body{
  padding-top: 0;
  padding-bottom: 0;
  .p-card-content{
    padding: 0;
  }
}
}
.page-container {
  .image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    img{
      width: 35vw;
    height: 10vh;
    }
  }
  form {
    //padding: 0 28px;
    .form-title {
      color: #ffc61a;
    }
    .selfie-warning-holder {
      min-height: 40vh;
      .selfie-warning-container {
        display: flex;
        flex-direction: column;
        .selfie-warning-title {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 15px;
          color: #ffc61a;
        }
        .selfie-warning-subTitle {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 25px;
          color: #ffffff;
        }
        .selfie-warning-icon {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 70%;
          }
        }
      }
    }
    .p-button-warning {
      color: #000;
    }
  }
}
.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
  i {
    font-size: 3rem;
    --fa-beat-fade-scale: 2;
  }
}
